<div *ngIf="authService.isLoggedIn$ | async">
  <nav>
    <h2>👗 Fashion Girls Store</h2>
    <div class="menu">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
      <a routerLink="/productos" routerLinkActive="active">Productos</a>
      <a routerLink="/categorias" routerLinkActive="active">Categorías</a>
      <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
      <button class="logout-btn" (click)="logout()">Cerrar Sesión</button>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>